doctype html
html
    head
        title Exploring the Pug template
        style
            include index.css
      
    body
        h1 Matrix controller
        form(role="form" method="POST" action="/")
            div
                span
                    input(value="nyancat" id="nyancat" name="mediaType" onchange="this.form.submit()")
                    label(for="nyancat") Nyan Cat
                span
                    input(value="aoe" id="aoe" name="mediaType" onchange="this.form.submit()")
                    label(for="aoe") Age of Empires
                span
                    input(value="bb8" id="bb8" name="mediaType" onchange="this.form.submit()")
                    label(for="bb8") BB8