doctype html
html
    head
        title Retro Display
        style
            include index.css
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#383838")
        meta(name="msapplication-navbutton-color" content="#383838")
        meta(name="apple-mobile-web-app-status-bar-style" content="#383838")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
        link(rel="manifest" href="/assets/favicon/site.webmanifest")
        link(rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#121212")
        link(rel="shortcut icon" href="/assets/favicon/favicon.ico")
        meta(name="msapplication-TileColor" content="#121212")
        meta(name="msapplication-config" content="/assets/favicon/browserconfig.xml")
      
    body
        h1 Retro Display
        form(role="form" method="POST" action="/")
            div(class="content")
                //- span
                //-     input(type="radio" value="" id="" name="mediaType" onchange="this.form.submit()")
                //-     label(for="")
                //-         img(src="/.gif")
                span
                    input(type="radio" value="bird" id="bird" name="mediaType" onchange="this.form.submit()")
                    label(for="bird")
                        img(src="/zen/bird.gif")
                span
                    input(type="radio" value="city" id="city" name="mediaType" onchange="this.form.submit()")
                    label(for="city")
                        img(src="/zen/city.gif")
                span
                    input(type="radio" value="city-cat" id="city-cat" name="mediaType" onchange="this.form.submit()")
                    label(for="city-cat")
                        img(src="/zen/city-cat.gif")
                span
                    input(type="radio" value="fish" id="fish" name="mediaType" onchange="this.form.submit()")
                    label(for="fish")
                        img(src="/zen/fish.gif")
                span
                    input(type="radio" value="train-cat" id="train-cat" name="mediaType" onchange="this.form.submit()")
                    label(for="train-cat")
                        img(src="/zen/train-cat.gif")
                span
                    input(type="radio" value="nyancat" id="nyancat" name="mediaType" onchange="this.form.submit()")
                    label(for="nyancat")
                        img(src="/geek/nyancat.gif")
                span
                    input(type="radio" value="aoe" id="aoe" name="mediaType" onchange="this.form.submit()")
                    label(for="aoe")
                        img(src="/geek/aoe.gif")
                span
                    input(type="radio" value="bb8" id="bb8" name="mediaType" onchange="this.form.submit()")
                    label(for="bb8")
                        img(src="/geek/bb8.gif")
                span
                    input(type="radio" value="avengers" id="avengers" name="mediaType" onchange="this.form.submit()")
                    label(for="avengers")
                        img(src="/geek/avengers.gif")
                span
                    input(type="radio" value="musk" id="musk" name="mediaType" onchange="this.form.submit()")
                    label(for="musk")
                        img(src="/geek/musk.gif")
                span
                    input(type="radio" value="dogue" id="dogue" name="mediaType" onchange="this.form.submit()")
                    label(for="dogue")
                        img(src="/geek/dogue.gif")
                span
                    input(type="radio" value="art" id="art" name="mediaType" onchange="this.form.submit()")
                    label(for="art")
                        img(src="/weird/art.gif")
                span
                    input(type="radio" value="vapor" id="vapor" name="mediaType" onchange="this.form.submit()")
                    label(for="vapor")
                        img(src="/geek/vapor.gif")
            div
                button(type="button" value="close" name="mediaType" onchange="this.form.submit()") stoppennu
        div(class="footer")
            p
                | Made with
                img(src='/assets/heart.png')
                | by&nbsp;
                a(href='https://github.com/RamonValk' target='_blank') @RamonValk
